<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Last 30 days</h3>
                </div>
                <div class="panel-body">
                    <div monthly-chart ng-series="avg_duration, avg_active_duration">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-repeat="chartConfig in barCharts">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ chartConfig.path }}
                    <span class="glyphicon glyphicon-question-sign pull-right"
                          tooltip-placement="left"
                          tooltip="Content interaction over the last 5 days">
                    </span>
                        </h3>
                </div>
                <div class="panel-body">
                    <highchart id="barChart{{$index}}" config="chartConfig"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>


