
.btn-orange {
    color: #333;
    background-color: #ffc48c;
    border-color: #e2a972;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    color: #333;
    background-color: #f7b880;
    border-color: #e2a771;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
    background-color: #ffc48c;
    border-color: #ebb079;
}

.btn-orange .badge {
    color: #FFC48C;
    background-color: #fff;
}

.btn-lime {
    color: #333;
    background-color: #d1f2a5;
    border-color: #b2d18b;
}

.btn-lime:hover,
.btn-lime:focus,
.btn-lime:active,
.btn-lime.active,
.open .dropdown-toggle.btn-lime {
    color: #333;
    background-color: #c1e298;
    border-color: #acca85;
}

.btn-lime:active,
.btn-lime.active,
.open .dropdown-toggle.btn-lime {
    background-image: none;
}

.btn-lime.disabled,
.btn-lime[disabled],
fieldset[disabled] .btn-lime,
.btn-lime.disabled:hover,
.btn-lime[disabled]:hover,
fieldset[disabled] .btn-lime:hover,
.btn-lime.disabled:focus,
.btn-lime[disabled]:focus,
fieldset[disabled] .btn-lime:focus,
.btn-lime.disabled:active,
.btn-lime[disabled]:active,
fieldset[disabled] .btn-lime:active,
.btn-lime.disabled.active,
.btn-lime[disabled].active,
fieldset[disabled] .btn-lime.active {
    background-color: #b6d78f;
    border-color: #a8c680;
}

.btn-lime .badge {
    color: #d1f2a5;
    background-color: #fff;
}

.btn-yellow {
    color: #333;
    background-color: #effab4;
    border-color: #cdd89c;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.open .dropdown-toggle.btn-yellow {
    color: #333;
    background-color: #e4efa9;
    border-color: #c4cf92;
}

.btn-yellow:active,
.btn-yellow.active,
.open .dropdown-toggle.btn-yellow {
    background-image: none;
}

.btn-yellow.disabled,
.btn-yellow[disabled],
fieldset[disabled] .btn-yellow,
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled:active,
.btn-yellow[disabled]:active,
fieldset[disabled] .btn-yellow:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow.active {
    background-color: #e1eca6;
    border-color: #bcc78b;
}

.btn-yellow .badge {
    color: #effab4;
    background-color: #fff;
}