

body {
    padding-top: 20px;
}

.masthead {
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    margin-bottom: 20px;

}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333; /* IE8 proofing */
    color: rgba(51, 51, 51, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    color: #333;
    border-bottom-color: rgba(51, 51, 51, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #333;
    border-bottom-color: rgba(51, 51, 51, .25);
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}
.container.marketing {
    padding: 0;
}

