{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Page title</title>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src="http://insightful-demo.herokuapp.com/static/js/insightful.min.js"></script>
    <script>
        insightful.init({url: '/report/', id: 1});
    </script>
</head>
<body>
<a href="{% url 'test_index' %}">Test page 1</a>

<p data-track-name="Lorem ipsum">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta eos excepturi inventore ipsam itaque laborum
    nam nihil nulla obcaecati porro, quia, quos sint, sit soluta voluptate voluptates. Distinctio, est!</p>
</body>
</html>